---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'

const allPosts = await Astro.glob('../content/tips/*.md')

console.log(allPosts)
console.log('hola')
---

<Layout title="Welcome to Astro.">
	<main>
		<Header title="AstroBuild.tips" />

		<Hero />

		<ul role="list" class="link-card-grid">
			{
				allPosts.map((item) => (
					/*
          Optional Chaining ?. para que no rompa si el diccionario no tiene los datos requeridos
          // TODO: frontmatter no tiene slug aquí, ver como hacer con el tutorial q tengo
          */ <Card
						title={item?.frontmatter?.title}
						image={item?.frontmatter?.image}
						time={item?.frontmatter?.date}
						tags={item?.frontmatter?.tags}
						slug={item?.frontmatter?.url}
					/>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
